################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ebay_Project/FileContentIndex/1bc260a6-bca2-466e-a6da-cefa459ab03d.vsidx
